<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  <style>
    /* CSS to remove underline from anchor tags */
    a {
        text-decoration: none;
    }
  </style>
</head>
<body>
  <div class="box">
    <div class="login-container">
      <form id="login-form" action="{{url_for('index')}}" method="POST" enctype="multipart/form-data" >
        <h2>LOGIN</h2>
        <input type="text" name="username" placeholder="Username" required />
        <input type="file" name="fingerprint_image" required />
        <input type="submit" href="#" name="" id="">
        <p>Not in database? <button  class="register-button" type="button"><a href="{{url_for('reg')}}">register</a></button></p>
      </form>
    </div>
    <div class="image-container">
      <img src="/static/css/fingerprint_image.svg" alt="Fingerprint Image" class="fingerprint-image" />
    </div>
  </div>
</body>
</html>
